<form [formGroup]="passForm">
    <div class="form-grooup">
        <!-- <lable>Username</lable> -->
        <input formControlName="username" type="text" class="form-control">
    </div>
    <div formGroupName="password">
        <div  class="form-grooup">
            <label for="username">Username</label>
            <input formControlName="oldPassword" type="text" class="form-control" id="username">
        </div>
        <div class="form-grooup">
            <label>Username</label>
            <input formControlName="newPassword" type="text" class="form-control">
        </div>
        <div class="form-grooup">
            <label>Username</label>
            <input formControlName="confirmPassword" type="text" class="form-control">
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<p>
    {{passForm.value | json}}
</p>
