.details{
    font-size: 24px;
    display: inline-block;
    padding-left: 77px;
    padding-top: 25px;
}
.thumblin{
    display: inline-block;
}
.follow-details{
    font-size: 18px;
    display: inline-block;
    padding-left: 77px;
    padding-top: 25px;
}