<h4>Using github api</h4>
<div class="form-group">
    <label for="">Enter your github username: </label>
    <input type="text" class="form-control" #username [value]="user">
</div>
<div *ngIf="errors" class="alert alert-danger">
    Something went wrong!
</div>
<button class="btn btn-info" (click)="getDetails(username.value)"  >Get Details</button>

<div *ngIf="perform">
    <div class="thumblin">
        <img [src]="userDetails.avertar" alt="..."  width="150px">
    </div>
    <div class="details">
       <p><br>{{userDetails.uname}}<br>
        Name: {{userDetails.name?userDetails.name:'not-set'}}<br>
        From: {{userDetails.from?userDetails.from:'not-set'}}<br></p> 
    </div>
    <h3>Followers</h3>
    <button class="btn btn-primary" (click)="cleraFollowers()">Clear Followers</button>
</div>
<div *ngFor="let follow of followers">  
    <div class="thumblin">
        <img [src]="follow.avatar_url" alt="..."  width="125px">
    </div>
    <div class="follow-details">
       <p><br><br>{{follow.login}}<br>
        From: {{follow.html_url}}<br></p> 
    </div>
</div>