<!-- <h1 style="background-color: rgb(30, 179, 30); color: white;">Header as Fragment</h1>
<router-outlet></router-outlet>
<h1 style="background-color: rgb(30, 179, 30); color: white;">Footer as Fragment</h1> -->

<hr>
<h2>Practice 01</h2>
<app-products></app-products>
<hr>
<h2>Practice 02</h2>
<app-post></app-post>
<hr>
<h2>Practice 03</h2>
<Zippy title="My Zippy">
    <p>Hello  World</p>
</Zippy>
<app-american-phone></app-american-phone>
<hr>
<h2>Practice 04</h2>
<h5>template-driven form</h5>
<app-resgister></app-resgister>
<h2>Practice 05</h2>
<h5>Reactive forms</h5>
<contact-form></contact-form><hr>
<h2>Practice 06</h2>
<h5>Using angular HttpClient </h5>
<app-http-post></app-http-post>
<github-followers></github-followers>